/*
    Created on : 03/04/2020
    Author     : Eveliina Purontaus
*/

/* Listasta täpät pois*/
ul {
    list-style-type: none;
    padding-left: 0;
}

.not_visible {
    display: none;
}

/* Väri oikeaan vastaukseen visassa*/
.selected {
    background-color: deepskyblue;
    color: white;
}

/* Oikea vastaus visassa*/
.right {
    font-weight: bold;
}

/* Väärään vastaukseen visassa*/
.wrong {
    background-color: red;
}

button {
    margin-bottom: 5px;
}

/* kuvan asettelu matikkatehtävässä*/
img {
    width: 20%;
    border: none;
}