/*
    Created on : 03/04/2020
    Author     : Henri Aukee
*/

/* Otsikon siirto */
h2 {
    margin-top: 0.5em;
}
/* listan nollaus */
ul {
list-style-type: none;
padding-left: 0;
}
/* Tilaa napeille */
.btn {
    margin-bottom: 1.5em;
}
/* Valittu kohde */
.selected {
    background-color: lightblue;
    color: black;
}
/* Visa- väärä vastaus */
.wrong {
    background-color: red;
}
/* Visa- oikea vastaus */
.right {
    background-color: green;
    font-weight: bold;
}
/* Piilossa olevat elementit */
.not_visible {
    display: none;
}
/* Kuvat */
img {
    width: 50%;
    border: none;
    padding-left: 5em;
}
/* Matikka tehtävän kentta */
input {
    margin-left: 1em;
}