/*
    Created on : 03/04/2020
    Author     : Ilari Puustinen
*/
.selected {
    background-color: deepskyblue;
    color: white;
}

.wrong {
    background-color: darkred;
}

.right {
    font-weight: bold;
}

section ul {
    list-style: none;
}

button {
    margin-bottom: 5px;
    margin-left: 20px;
}
