/*
    Created on : 03/04/2020
    Author     : Jami Salmela
*/
ul {
    list-style-type: none;
    padding-left: 0;
}

.not_visible {
    display: none;
}

.selected {
    background-color: orange;
    color: white;
}

.right {
    font-weight: bold;
}

.wrong {
    background-color: red;
}

button {
    margin-bottom: 5px;
}
