/*
    Created on : 03/04/2020
    Author     : Jukka Liimatta
*/
/* Visan muotoilu */
.selected {
    background-color: greenyellow;
}
.wrong {
    background-color: #ff6666;
}
.right {
    font-weight: bolder;
    color: green;
    border-style: solid !important;
}
ul {
    list-style: none;
}
.answer li {
    border-style: groove;
    border-radius: 15px;
    margin-top: 5px;
    padding-right: 0px;
}
.answer li:hover {
    background-color: #3E9CC1;
}
.selected:hover {
    background-color: greenyellow !important;
}
.wrong:hover {
    background-color: #ff6666 !important;
}
#answer1, #answer2, #answer3, #answer4, #answer5, #answer6, #answer7, #answer8,
#answer9, #answer10, #answer11, #answer12, #answer13, #answer14, #answer15, #answer16,
#answer17, #answer18, #answer19, #answer20, #answer21, #answer22, #answer23, #answer24 {
    margin-top: 10px;
}
input[type="radio"] {
    visibility:hidden;
}

/* Matikkatehtävän muotoilu */

.not_visible {
    display: none;
}
.visible {
    display: block;
}
.correct {
    background-color: greenyellow;
}
.incorrect {
    background-color: #ff6666;
}

.taso {
    background-color: #3E9CC1;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    margin-right: 12px;
    border-radius: 15px;
}
.taso:hover {
    background-color: #2c6d87;
}
.tarkista {
    background-color: #3E9CC1;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    margin-right: 12px;
    margin-left: 15px;
    border-radius: 15px;
}
.tarkista:hover {
    background-color: #2c6d87;
}
.takaisin {
    background-color: #3E9CC1;
    border: none;
    color: white !important;
    padding: 8px 15px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    margin-right: 12px;
    margin-left: 15px;
    border-radius: 15px;
}
.takaisin:hover {
    background-color: #2c6d87;
}

#ea1, #ec1, #ea2, #ec2, #ea3, #ec3, #ea4, #ec4, #ea5, #ec5, #ea6, #ec6, #ea7, #ec7, #ea8, #ec8,
#aa1, #ac1, #aa2, #ac2, #aa3, #ac3, #aa4, #ac4, #aa5, #ac5, #aa6, #ac6, #aa7, #ac7, #aa8, #ac8, 
#ha1, #hc1, #ha2, #hc2, #ha3, #hc3, #ha4, #hc4, #ha5, #hc5, #ha6, #hc6, #ha7, #hc7, #ha8, #hc8{
    font-size: 25px;
    border-style: groove;
    border-color: #3E9CC1;
    border-radius: 10px;
    padding: 4px 12px;
    margin-bottom: 10px;
}
#eb1, #eb2, #eb3, #eb4, #eb5, #eb6, #eb7, #eb8,
#ab1, #ab2, #ab3, #ab4, #ab5, #ab6, #ab7, #ab8, 
#hb1, #hb2, #hb3, #hb4, #hb5, #hb6, #hb7, #hb8{
    font-size: 25px;
    border-style: groove;
    border-color: #3E9CC1;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
}

