
/* 
    Created on : 13.4.2020, 13:36:16
    Author     : Oskari Juntunen
*/
section:nth-child(even) {
    background-color: white;
}

.not_visible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.over{
    width: 100%;
    position: absolute;

    left: 0; 
    padding: 20px;
}

img{
    border: none;

}

.ruutu{
    max-width: 600px;
    height: 420px;

}

.blurry-text {
    color: transparent;
    text-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.blurry-text a:hover {
    text-decoration: none;
    color: transparent;
    text-shadow: 0 0 8px rgba(0,0,0,0.5);
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.tieto {
    max-height: 200px;
}

.loppu {
    margin-top: 250px;
}

.col-8{
    height: 200px;
}

.valinta {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;    
}

.avaruus{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0e0142+15,0d0f7c+99 */
    background: #0e0142; /* Old browsers */
    background: -moz-linear-gradient(top,  #0e0142 15%, #0d0f7c 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #0e0142 15%,#0d0f7c 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #0e0142 15%,#0d0f7c 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0142', endColorstr='#0d0f7c',GradientType=0 ); /* IE6-9 */

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.raketti{
    width: 30px;
    margin-top: 130px;

}

.maapallo{
    vertical-align:bottom;
    position: absolute;
    left: 0;
    bottom: 0;
}

.laatikko{
    max-width: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

.tehtävä{
    margin-top: 120px;
    margin-left: 20px;
}

.tuomio {

    font-size: 20px;
    margin-left: 20px;
    margin-right: 10px;

}

.merkki {

    margin-left: 87px;
}

.loppuKuva {

    width: 570px;
    max-height: 420px;

}

.loppuKuva img {

    margin-left: -15px;
}

.loppuKuva h2{
    
    color: white;
    text-align: center;
    font-size: 30px;

}
.painike {
    margin-top: 110px;
    margin-left: 218px;
    width: 130px;
    
}



