/* 
    Created on : 31.3.2020, 12:44:22
    Author     : Jami & Jenna
*/


/* Kuvien muotoilu */
.imge {
    margin-bottom: 2em;
}

/* H2-otsikoiden muotoilu */
h2{
    margin-top: 16px;
    margin-bottom: 14px;
}

/* Tekijöiden nimien muotoilu */
.nimet{
    font-weight:bold;
    font-size:20px;
}

ul {
    list-style: none;
}