/*
    Created on : 26/03/2020
    Author     : Henri Aukee
    Author     : Oskari Juntunen
    Author     : Jukka Liimatta
    Author     : Jenna Pennanen
    Author     : Eveliina Purontaus
    Author     : Ilari Puustinen
    Author     : Ville Rantanen
    Author     : Jami Salmela
*/

@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

/* Sivuston perusasettelun muotoilu ========================================= */
main {
    font-family: arial;
}

/* Header-elementin muotoilu ================================================ */
header {
    background-color: #3798BE;
    color: white;
    padding: 20px;
}

nav {
    background-color: #3798BE;
    color: white;
}

/* Section-elementtien muotoilu ============================================= */
section:nth-child(even) {
    background-color: #E1F2F9;
}

.etusivu {
    padding: 4em 1em 7em 1em;
}

.takasivu {
    padding: 20px 20px 10px 20px;
}

.figure {
    padding-top: 3em;
}

.kuvat {
    padding-left: 2em;
}

/* Footer-elementin muotoilu ================================================ */
footer {
    background-color: #3798BE;
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
}

/* Otsikoiden muotoilu ====================================================== */

h1, h2, h3 {
    font-family:  'Oswald', sans-serif;
}


/* Linkkien muotoilu ======================================================== */
a {
    text-decoration: none;
    font-weight: bold; 
}

a:visited {
    color: black;
}

a:hover{
    color: #110934;
    text-decoration: underline;
}

/* Kuvien muotoilu ========================================================== */
img {
    max-width: 100%;
    border-color: #110934;
    border-style: solid;
    border-width: 3px;
}

.etu {
    max-width: 100%;
    width: 40%;
    border: none;
}

figure {
    display: flex;
    flex-flow: column;
    margin: auto;
}

figcaption {
    display: inline;
    color: black;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

/* Lomakkeiden muotoilu ===================================================== */
.not_visible {
    display: none;
}

.selected {
    background-color: deepskyblue;
    color: white;
}

.wrong {
    background-color: darkred;
}

.right {
    font-weight: bold;
}

/* Navigaation muotoilu ===================================================== */
.navbar-nav {
    border-style: outset;
    border-radius: 15px;
}

.nav-item {
    text-align: center;
    margin-left: 6px;
}

.dropbtn {
    background-color: #3798BE;
    padding: 8px;
    border: none;
    color: white;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E1F2F9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 15px;
    border-style: outset;
    border-color: #3E9CC1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.nav-link {
    color: white !important;
}
nav a:visited {
    color: inherit;
}
nav a:hover {
    color: black !important;
}
.dropdown-content a {
    color: black !important;
    display: table;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 10px;
}