/*
    Created on : 03/04/2020
    Author     : Ville Rantanen
*/

/* Bangers-fontti */
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/* Yleiset muotoilut */
section {
    background-color: #E1F2F9;
}

.bangers {
    font-family: Bangers, cursive;
    font-size: 2.5em;
    margin: 0;
}

.palkinto_1 {
    color: #e6c719;
}

.palkinto_2 {
    color: #c0c0c0;
}

.palkinto_3 {
    color: #cd7f32;
}

.palkinto_4 {
    color: #009933;
}

/* Kappaleet ja tekstit */
h2 {
    margin-top: 0.4em;
}

p.border-primary {
    border-color: #3798BE !important;
}

.oikein_teksti {
    color: #40bf40;
}

.väärin_teksti {
    color: #ff531a;
}

/* Painikkeet */
.btn {
    margin-bottom: 1em;
}

.oikein_painike {
    background-color: #40bf40 !important;
    color: white !important;
}

.väärin_painike {
    background-color: #ff531a !important;
    color: white !important;
}

.btn-primary {
    background-color: #3798BE;
    border: none;
}

.btn-primary:hover {
    opacity: 0.65 !important;
}

/* Kuvakkeet */
i.lukittu {
    color: #a6a6a6;
}